# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Cipher.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Информационные технологии\Cipher\.idea\.idea.Cipher\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
