# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Form.iml
# Datasource local storage ignored files
/../../../../../../../../:\USATU\3 Курс\Информационные технологии\Form\.idea\.idea.Form\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
